{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "rules": {
      "indent": ["warn", 2],
      "no-trailing-spaces": "warn",
      // https://eslint.org/docs/rules/semi
      "semi": ["warn", "never"]
    }
  }
  
  